<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="application" fileName="log/application.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5level %logger{36} - %msg%n"/>
        </File>

        <Async name="Async">
            <AppenderRef ref="application"/>
        </Async>
    </Appenders>
    <Loggers>
        <Logger name="com.infoshareacademy" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.infoshareacademy" level="INFO" additivity="false">
            <AppenderRef ref="Async"/>
        </Logger>
    </Loggers>
</Configuration>
